fastapi>=0.103.0
uvicorn>=0.23.2
python-multipart>=0.0.6
PyPDF2>=3.0.1
pdf2docx>=0.5.6
pandas>=2.1.0
tabula-py>=2.8.2
python-pptx>=0.6.21
openpyxl>=3.1.2
reportlab>=4.0.0
PyMuPDF>=1.23.0
pdfplumber
pdf2image
python-docx>=0.5.6
apscheduler>=0.5.6
pyhanko[pkcs11]>=0.21.0
httpx>=0.27.0
python-dotenv>=1.0.0

--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio
easyocr
